<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>

    <add key="Environment" value="QA"/>
    
    
    <add key="Browser" value="Chrome"/>

    <add key="AlexsPetsURL.QA" value="https://nitro.duckdns.org/sst-classes/"/>
    <add key="AlexsPetsURL.PROD" value="https://nitro.duckdns.org/sst-classes/"/>

  </appSettings>
</configuration>